/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/

.bouton {
  background-color: $corail;
  color: $white;
  padding: 2rem 4rem;
  border-radius: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

  &--hover {
    background-color: $white;
    color: $corail;
    box-shadow: 0 0 8px transparentize($corail, 0.2);
    padding: 2.2rem 4.4rem;
  }
  &--active {
    background-color: $green;
  }
  &--inverse {
    background-color: white;
    border: 2px solid $corail;
    &--hover {
      border-color: transparentize($corail, 0.25);
    }
    &--active {
      border-color: transparentize($corail, 0.5);
    }
  }
}