footer {
  //margin-top: 5rem;
  background-color: $green;
  color: $paleBlack;
  width: 100%;
  text-align: center;
  padding: 3rem 0 0.3rem 0;
}

.footer__logo, .footer__sociaux {
  margin: 0 0;
}

.footer__logo img {
  padding: 1rem 2rem;
}

.footer__sociaux a {
  padding: 1rem;
}

.footer__nav {
  &--lien {
    padding: 0 2rem;
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: black;

    &:hover {
      color: $white;
    }
  }
}

small {
  font-size: 1.2rem;
  line-height: 1;
}