.partie {
  position: relative;
}

.ligne {
  max-width: 1000px;
  position: absolute;
  z-index: -1;

  @media (max-width: $medium) {
    display: none;
  }
}

.partie__2--ligne {
  left: 0;
  top: 20rem;
}